body {
    margin: 0;
    font-family: 'Cabin', sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    width: 620px;
}


.top-header {
    justify-content: space-between;
    width: 75%;
}

.top-header a {
    font-size: 20px;
    font-family: 'Cabin', sans-serif;
    
}
.top-nav {
    display: flex;

}

.search-box {
    border: 2px solid black;
    display: flex;
    justify-content: end;
    width: 100px;   
    padding: 3px;
    font-family: 'Roboto', sans-serif;
}


.social-media-links {
    display: flex;

}
.footer-icon {
    height: 40px;
    width: 40px;
}

.search-bar {
    display: flex;

}

.bottom-header {
    background-color:rgb(68, 92, 92);
    color:aliceblue;
    margin-top: 20px;
    padding-bottom: 20px;
    width: 100vw;
}

.name-div {
    text-align: center;
}

.center {
  text-align: center;
}

nav  {
    display: flex;
    justify-content: space-between;
    
}


nav a {
    display: flex;
   
}

.contact-box {
    position: absolute;
    right: 20px;
    font-size: 20px;
}


/* unvisited link */
a:link {
    color: black;
    text-decoration: none;
  }
  
  /* visited link */
  a:visited {
    color: black;
    text-decoration: none;
  }
  
  /* mouse over link */
  .top-header a:hover {
    color: white;
    text-decoration: none;
  }
  
  /* selected link */
  a:active {
    color: black;
    text-decoration: none;
  }

  .name-here {
      text-align: center;
      margin: 20px 0px 20px 0px;
      font-size: 50px;  
      font-family: 'Kaushan Script', cursive;
      
  }

  .main-section {
      background-image: url(./assets/camylla-battani-A5E-ym6WyGM-unsplash.jpg);
        width: 60%;
        height: 90vh;
        background-size: cover;
     
    }
    .section-container {
        display: flex;
    }
  
    .right-section {
        height: 90vh;
        width: 45%;
        z-index: -1;
        color: black;
    
    }
  
    .right-section-top {
        height: 40%;
    }
  
    .right-section-bottom {
        height: 60%;
        padding: 0 90px;
        font-size: 25px;
    }


    .footer {
       display:flex;
       justify-content: center;
        position: fixed; 
        bottom: 0;
        left: 0;
        right: 0;
    }

    .footer a {
        font-size: 50px;
        padding: 20px;
        
     }
